{% extends 'core/base.html' %}

{% block title %}Minhas Observações{% endblock %}

{% block content %}
<div class="dashboard-main">
    <h1>Minhas Observações</h1>

    {% for message in messages %}
        <p style="color: green;">{{ message }}</p>
    {% endfor %}

   

    <div class="card">
        <h3>Adicionar Nova Observação</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Adicionar</button>
        </form>
    </div>
</div>
{% endblock %}
